.k-grid .k-header {
   display: none;
}

.k-grid td{
    white-space: nowrap;
    padding: .1em .1em !important;
    line-height: 1em !important;
    border-style: solid;
    border-width: 1px 1px 1px 1px !important;
    overflow: hidden;
    background-color:white ;
    color:black;



}


.hdr.k-grid td {
    font-weight: bold;
    text-align: center;
}

.data.k-grid td {
    font-weight: normal;
    text-overflow: ellipsis;
    text-align: left;
}




table {
    width: 800px;
}

.classH1.div {
     width: 800px;
}

